<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/index_styles.css">
</head>
<body>

    <!--导航条-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="logo" src="static\img\导航条logo.png" width="40">
                </a>
                <p class="navbar-text">
                    <strong>Auto Standard Generator v1.0</strong>
                </p>
            </div>
        </div>
    </nav>


<!--主体-->
<div class="jumbotron container">
    <div class="row">
        <div class="column middle">
            <div class="chat-container">
                
                <div class="center-flex">
                    <img alt="logo" src="static\img\图片1.png" width="300">
                </div>
                
                <h2><strong>请选择功能：</strong></h2>
                <br>

                
 
                <br>

                
                    <a href="{{ url_for('summary_page') }}" class="btn btn-default">
                        <strong>生成摘要</strong>
                    </a>


                    <a href="{{ url_for('full_text_page') }}" class="btn btn-default">
                        <strong>生成全文</strong>
                    </a>
                    <br>
                    
    
                
                
            </div>
        </div>
    </div>
</div>


</body>
</html>
